body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Background added to top-section homepage */
.row .azure {
    background: azure;
    min-height: 185px;
}

/* Background added to lower-left-section homepage */
.row .beige {
    background: beige;
    min-height: 185px;
}

/* Background added to lower-right-section homepage */
.row .aquamarine {
    background: aquamarine;
    min-height: 185px;
}

/* Adding in padding and background to the Home directory pages. */
h2.aquamarine {
    background: aquamarine;
    padding:10px;
}

h2.azure {
    background: azure;
    padding: 10px;
}

h2.beige {
    background: beige;
    padding: 10px;
}