@{
    ViewData["Title"] = "Activity";
}
<h2 class="beige">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Coming soon: List of changes made to the employee list starting with most recent.</p>
