@{
    ViewData["Title"] = "Reports";
}
<h2 class="aquamarine">@ViewData["Title"]</h2>

<h4># of employees hired per week</h4>
<p>Coming soon...</p>

<h4># of people terminated in 2017</h4>
<p>Coming soon...</p>

<h4>Permission Count</h4>
<p>1: 30</p>
<p>2: 100</p>
<p>3: 10</p>
<p>4: 1</p>
<p>Coming soon...</p>

